.contatos {
    background-color: #131313;
    margin-top: 50px;
}

.contatos-section {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
}

.titulo-contatos, .titulo-fale-comigo, .titulo-redes-sociais {
    color: #919191;
    font-size: 30px;
}

.contatos-item {
    color: #fFf;
    margin: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 10px;
}

.contatos-direito {
    padding: 50px;
}

.contatos-esquerdo {
    padding: 50px;
}

.redes-sociais {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.card-email {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    margin: 10px;
}

.card-email a {
    width: 60%;
    margin: auto;
    text-decoration: none;
}

.card-email-api textarea:focus-visible, .card-email-api input:focus-visible {
    outline: 1.5px solid#7a7a7a;
}

.formulario-email-dinamico{
    background-color: #ffff;
    border-radius: 5px;
    padding: 25px;
    min-width: 370px
}

.botao-gmail {
    background-color: #015fc4;
    color: #fff;
    border-radius: 10px;
    height: 38px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 0px auto 15px auto;
}

@media (max-width: 1000px) {
    .contatos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        padding-bottom: 70px;
    }

    .contatos-direito {
        text-align: center;
        padding: 10px;
    }

    .contatos-esquerdo {
        text-align: center;
        padding: 10px;
    }

    .card-email {
        margin: 0px auto;
    }

    .card-email-api {
        margin: 0px auto;
        width: 18rem;
    }

    .titulo-fale-comigo {
        text-align: center;
    }
    
    .contatos-section {
        width: 100%;
        flex-direction: column;
    }

    .formulario-email-dinamico {
        width: 90%;
        margin: 0px auto;
    }
}